<!DOCTYPE html>
<html>
	<head>
		<title>TravisTracker</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- %= css :application % -->
    <!-- %= js  :app % -->
		<!--[if lt IE 9]>
		  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
		  <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
		<![endif]-->
	</head>
	<body>
		<div class="container">
			<nav class="navbar navbar-default" role="navigation">
			  <div class="navbar-header">
			    <a class="navbar-brand" href="/">TravisTracker</a>
			  </div>
			</nav>
      <div>
        <%= yield %>
			</div>
	  </div>


    <script src="/vendor/jquery-1.9.1.min.js"></script>
    <script src="/vendor/bower-components/jquery-knob/js/jquery.knob.js"></script>
    <script src="/vendor/bootstrap/js/bootstrap.min.js"></script>
    <script src="/vendor/bower-components/bootstrap-modal-collapse-transition/transition.min.js"></script>
    <script src="/vendor/bower-components/bootstrap-modal-collapse-transition/modal.min.js"></script>
    <script src="/vendor/bower-components/bootstrap-modal-collapse-transition/collapse.min.js"></script>

<script>
function storePanelStatus() {
  var openListStr = $(".panel-body.in").map(function() { return this.id;}).get().join(",");
  if (typeof localStorage !== "undefined") {
    localStorage.setItem("monit-panel", openListStr)
  } else {
    $.cookie("monit-panel", openListStr);
  }
}

function loadPanelStatus() {
  var openListStr, openList;
  if (typeof localStorage !== "undefined") {
    openListStr = localStorage.getItem("monit-panel")
  } else {
    openListStr = $.cookie("monit-panel");
  }
  if (openListStr !== null) {
    openList = openListStr.split(",");
    for (var i=0; i<openList.length; i++) {
      var n = $("#"+openList[i]);
      if (n.length>0) {
        n.addClass("in");
        collapseIcon(n[0]);
      }
    }
  }
}

function collapseIcon(n) {
  var node = $(document.getElementById("glyphicon-"+n.id));
  node.toggleClass("glyphicon-plus").toggleClass('glyphicon-minus');
  var titleNode = node.parent().parent();
  if (node.hasClass('glyphicon-minus')) {
    titleNode.removeClass("collapsed-panel");
  } else {
    titleNode.addClass("collapsed-panel");
  }
  return node;
}

$('.collapse').each(function(pos, n) {
  $(n).on('shown.bs.collapse', function(n) {
    return function(e) {
      collapseIcon(n);
      storePanelStatus();
      return false;
    }
  }(n));
  $(n).on('hidden.bs.collapse', function(n) {
    return function(e) {
      collapseIcon(n);
      storePanelStatus();
      return false;
    }
  }(n));
});

$("dl > *").each(function(pos, n) {
  $(n).attr("title", $(n).text());
});

    $(function() {
        $(".dial").knob();
    });

  loadPanelStatus();
  setTimeout(function () { location.reload(true); }, 20000);

</script>

  </body>
</html>
