          <div class="panel panel-danger">
            <div class="panel-heading">
              <%= "#{host.name}" %>
            </div>
            <div class="panel-body">

<div class="panel">
  <div class="panel-body">
    Dead server
  </div>
</div>

            </div>
          </div>
          <span class="label label-default"></span>
