          <div class="panel panel-danger">
            <div class="panel-heading">
              <%= "#{host.name}" %>
              <!-- span class="glyphicon glyphicon-flash " aria-hidden="true"></span -->
            </div>
            <div class="panel-body">
<dl class="dl-horizontal">
  <dt>State:</dt><dd>Server down</dd>
</dl>
            </div>
          </div>
          <span class="label label-default"></span>
